.contacto {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.formulario-contacto {
    margin: 5% 10%;
    padding: 5%;
  }
  .bg-image {
    background: url('/PreEntrega3-Padovani/images/contacto.jpg');
    background-size: cover;
    
}  
.texto-contacto {
    display: flex;
    justify-content: center;
    margin: 15% 1%;
    font-weight: bolder;
    text-decoration: underline;
    
    
    
}
.botoncontacto {
    margin: 20px;
    padding: 10px 20px;
    transition: 1s;
   
}
.botonreserva:hover {
    background-color: green;
    transition: 1s;

}